<%= render partial: "shared/header" %>
<div class="main shot-show">
  <div class="container">
  <h1>Shot Info</h1>
    <div class="shot">
      
      <!-- Display the shot's info here -->
      <div class="info">
        <%= image_tag @shot.image %>
        <h3><%= @shot.name %></h3>
        <p><%= @shot.color %></p>
        <p><%= @shot.description %></p>
      </div>
    </div>

    <h1>Ingredients</h1>
    <% @ingredients.each do |ingredient| %>
    <div class="ingredient col-md-2">
      <%= image_tag ingredient.image %>
      <h3><%= ingredient.ingredientname %></h3>
      <p><%= ingredient.description %></p>
    </div>
		<% end %>
  </div>
</div>
<%= render partial: "shared/footer" %>