<%= render partial: "shared/header" %>
<div class="container">
  <h1>Display of Ingredients</h1>
  <%= link_to 'Shots', "/shots" %>  

  <div class="main ingredient-index">
      <div class="container">
        <div class="row">
          <% @ingredients.each do |ingredient| %>
          <div class="ingredient col-xs-2">
            <%= image_tag ingredient.image %>
            <h3><%= ingredient.ingredientname %></h3>
            <%= link_to "Learn more", ingredient_path(ingredient) %>
          </div>
          <% end %>
        </div>
      </div>
  </div>    
</div>
<%= render partial: "shared/footer" %>