<% if logged_in? %>
  <%= render partial: "shared/header" %>

  <div class="main">
    <div class="container">
      <div class="row">
        <div class="well well-lg">
          <h2>Welcome to ShotMaker</h2>
        </div>
        <aside class="col-md-4">
          <section class="user_info">
            <%= render 'shared/user_info' %>
          </section>
          <section class="micropost_form">
            <%= render 'shared/micropost_form' %>
          </section>
        </aside>
        <div class="col-md-8">
          <h3>Micropost Feed</h3>
          <%= render 'shared/feed' %>
        </div>
      </div>
     <br><br><br><br><br><br>
    </div>
  </div>
  <%= render partial: "shared/footer" %>

<% else %>

<div class="welcome_container">
<div class="ad_space">
<!-- Side Navigation -->
  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <%= link_to "Home", "/#", class: "a:hover" %>
    <%= link_to "Shots", "/shots", class: "a:hover" %>
    <%= link_to "Shot of the Month", "/shotm", class: "a:hover" %>
    <%= link_to "Ingredients", "/ingredients", class: "a:hover" %>
    <%= link_to "About", "/about", class: "a:hover" %>
    <%= link_to "Contact", "/contact", class: "a:hover" %>
    <% if logged_in? %>
      <%= link_to "Users", users_path %>
      <%= link_to "Profile", current_user %>
      <%= link_to "Settings", '#' %>
      <%= link_to "Logout", "#myModal", "data-toggle" => "modal" %>
    <% else %>
      <%= link_to "Log in", login_path %>
    <% end %>
  </div>
  <span style="padding: 7px 0px 0px 7px;font-size:30px;cursor:pointer; color:white" onclick="openNav()">&#9776</span>
</div>

<!-- homepage image -->
  <div class="welcome_shot">
    <div class="welcome_message">
      <p class="wtext_1">Wecome to ShotMaker!</p>
      <p class="wtext_2">(You must be 21 to enter...or just somebody cool.)</p>
      <div class="login-sign-up-buttons">
        <% if logged_in? %>
          <!-- logout button diplays -->
          <%= link_to "Logout", "#myModal", class: "btn btn-primary btn-lg pull-left", "data-toggle" => "modal" %>
        <% else %>
          <!-- login button diplays -->
          <%= link_to "Login", login_path, class: "btn btn-primary btn-lg pull-left"%>
          <%#= link_to "Login", "#myModal", class: "btn btn-primary btn-lg pull-left", "data-toggle" => "modal" %>
        <% end %>
        <!-- signup button to go to sign up -->
        <%= link_to "Signup", signup_path, class: "btn btn-lg btn-primary pull-right" %>
      </div>
    </div>
  </div>
  <div class="ad_space">
  	<%= render partial: "shared/welcomefooter" %>
  </div>
</div>


<!-- logout modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Confirm</h4>
      </div>
      <div class="modal-body">
        <br>
        <p>Are you sure you want to logout?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-lg" data-dismiss="modal">Close</button>
       <!-- <input class="btn btn-primary" name="commit" type="submit" value="Login" /> -->
        <%= link_to "Logout", logout_path, method: "delete", class: "btn btn-primary btn-lg pull-left"%>
      </div>
    </div>
  </div>
</div>

<% end %>
